
{% extends 'base/base.html' %}
{% load static %}
{% block main %}
					<!--end::Header-->
					<!--begin::Toolbar-->

									<!--begin::Item-->
									<!--end::Item-->
									<!--begin::Item-->
									<li class="breadcrumb-item text-gray-500">View of animal Sitings</li>
									<!--end::Item-->
								</ul>
								<!--end::Breadcrumb-->
							</div>
							<!--end::Page title-->
							<!--begin::Actions-->

							<!--end::Actions-->
						</div>
						<!--end::Container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Container-->
					<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl-1">
						<!--begin::Post-->
						<div class="content flex-row-fluid" id="kt_content">


							<!--begin::Card-->
								<div class="card">
									<!--begin::Card header-->
									<div class="card-header">
										<!--begin::Card title-->
										<div class="card-title fs-3 fw-bolder">View of animal Sitings</div>
										<!--end::Card title-->

									</div>
									<!--end::Card header-->

								<!--begin::Form-->
									<form class="form">
										<!--begin::Card body-->
										<div class="card-body p-9">
										<!--begin::Block-->

										<table id="fund_transfer" class="table border table-row-bordered gy-3 gs-5 border rounded">
										    <thead>
										        <tr class="fw-bolder fs-6 text-gray-800 px-7">
										            <th>S.No</th>
													<th>Animal</th>
                                                    <th>Breed</th>
													<th>Action</th>
										        </tr>
										    </thead>
											{% for addsiting in report %}
										    <tbody>
										    	<tr>
										    		<td>{{forloop.counter}}</td>
										    		<td>{{addsiting.Animal}}</td>
                                                    <td>{{addsiting.Breed}}</td>
													<td>{{addsiting.created_at|date:"M-d-Y"}}</td>
													<td>

										    			<a href="{% url 'office:edit_sitings' sitings.id %}" class="me-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi bi-pencil-square fs-6"></i></a>
                                                        <a href="{% url 'office:delete_sitings' sitings.id %}" class="me-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi bi-trash fs-6"></i></a>
										    		</td>
										    	</tr>
                                             </tbody>
											{% endfor %}
										</table>

										</div>
										<!--end::Card body-->

									</form>

									<!--end:Form-->
								</div>
								<!--end::Card-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Container-->
					<!--begin::Footer-->


                </tbody>
            </table>


        </div>
        <!--end::Post-->
    </div>
    <!--end::Container-->
{% endblock %}
{% block footer %}

    <script src="{% static 'office/assets/js/managelessons.js' %}"></script>
{% endblock %}
